.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
#tsparticles {
  width: 100%;
  height: 100vh; /* ou une autre hauteur selon vos besoins */
  position: absolute;
  top: 0;
  left: 0;
}
#tsparticles {
  z-index: -1; /* ou un autre indice approprié */
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
